@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  --theme-morning-start: #86eaf9;
  --theme-morning-end: #effda4;
  --theme-afternoon-start: #6bcff2;
  --theme-afternoon-end: #bef9ff;
  --theme-evening-start: #fa7ba9;
  --theme-evening-end: #fff49b;
  --theme-night-start: #000428;
  --theme-night-end: #2c3e50;
  --theme-default-start: #d7d7d7;
  --theme-default-end: #a1a1a1;

  --theme-body-color: #333;
  --theme-body-font: "Manrope", sans-serif;
  --theme-fs-bg: #000;
  --theme-fs-color: #ccc;

  --theme-sl-bg: "darkslateblue";
  --theme-sl-color: #ddd;

  --clock-size: 9.5rem;
  --clock-period-size: 2.25rem;
  --date-size: 1.25rem;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 1s ease;
  font-family: var(--theme-body-font);
  color: var(--theme-body-color);
}

body.analog canvas {
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

:fullscreen {
  background-color: var(--theme-fs-bg);
  color: var(--theme-fs-color);
}

:fullscreen .fs-hidden {
  display: none;
}

::selection {
  background-color: var(--theme-sl-bg);
  color: var(--theme-sl-color);
}

/* Default Gradient */
body[data-theme="default"] {
  background: linear-gradient(
    to bottom,
    var(--theme-default-start),
    var(--theme-default-end)
  );
}

body[data-theme="morning"] {
  background: linear-gradient(
    to bottom,
    var(--theme-morning-start),
    var(--theme-morning-end)
  );
}

body[data-theme="afternoon"] {
  background: linear-gradient(
    to bottom,
    var(--theme-afternoon-start),
    var(--theme-afternoon-end)
  );
}

body[data-theme="evening"] {
  background: linear-gradient(
    to bottom,
    var(--theme-evening-start),
    var(--theme-evening-end)
  );
}

body[data-theme="night"] {
  background: linear-gradient(
    to bottom,
    var(--theme-night-start),
    var(--theme-night-end)
  );

  --theme-body-color: #aaa;
}

button {
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 2px;
  cursor: pointer;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  margin: 1rem 0 0 0;
}

header nav {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

header nav ul li {
  margin: 0 5px;
}

header nav li a,
.brand a {
  color: var(--theme-body-color);
  text-decoration: none;
}

header nav li a:hover {
  color: var(--theme-body-color);
  border-bottom: 1px solid var(--theme-body-color);
}

#clk-digital #clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#clk-digital #digital-clock {
  font-size: var(--clock-size);
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

#digital-clock span {
  font-variant-numeric: tabular-nums;
}

#clk-digital #digital-clock #period {
  font-size: var(--clock-period-size);
  text-align: right;
  margin-top: auto;
  margin-bottom: 2rem;
}

#clk-digital #date-container {
  font-size: var(--date-size);
  display: flex;
  flex-direction: row;
}

#clk-digital #date-container div {
  text-align: right;
  margin: 5px 10px;
}

#graphics .mountains {
  background-image: url("/assets/images/mountains.svg");
  width: 101vw;
  height: 5.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  #clk-digital #digital-clock,
  #clk-digital #date-container {
    flex-direction: column;
  }

  #clk-digital #digital-clock .separator,
  #clk-digital #date-container #timezone {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --clock-size: 8rem;
    --date-size: 1rem;
  }
}
